version: "3"
# Author: Haoji Liu
services:
  app:
    volumes:
      - ./src:/srv/src
    build: .
    container_name: cmpe273_app
    ports:
      - "5000:5000" # for blockchain
      - "5001:5001" # for registry
      - "9002:9002" # for supervisord
    tty: true
